{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="card-header">
                <h1>Buscar partidas para unirte</h1>
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                     aria-controls="collapseOne">
                    Filtrar
                </div>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
    {% if games %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Partida</th>
            <th scope="col">Sistema</th>
            <th scope="col">DJ</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td scope="row">{{ game.title }}</td>
                <td scope="row">{{ game.sistema.nombre }}</td>
                <td>{{ game.master }}</td>
                <td><a class="connect" href="{{ url_for('game.join',key=game.game_key) }}">Unirse</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock %}