{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="card-header">
                <h1>Partidas disponibles</h1>
            </div>
        </div>
    </div>
<!--    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                     aria-controls="collapseOne">
                    Filtrar
                </div>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>-->
    {% if games %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">DJ</th>
            <th scope="col">Nombre & Descripción</th>
            <th>Jugando a</th>
            <th scope="col">Meta</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.master }}</td>
                <td><a href="#">{{ game.title }}</a><br>
                {{ game.description }}
                </td>
                <td>{{ game.sistema.nombre }}</td>
                <td>
                    Jugadores actuales: 0
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock %}