xlrd
openpyxl
pyyaml
flask_restx
flask
mysql-connector-python
flask-mysql
connexion
flask_sqlalchemy_session
flask-login
flask_sqlalchemy
flask_migrate
Flask-WTF
flask-bootstrap
wtforms
email_validator