<!-- app/templates/home/players.html -->
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Partidas{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col intro-header">
            <div style="text-align:center; padding:0%" class="center intro-message">
                <h1>Partidas</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div style="text-align:center;">
                {% if games %}
                <div style="text-align:left;" class="center">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th> Título</th>
                            <th> Jugadores</th>
                            <th></th>
                            <th> Solicitudes</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for game in games %}
                        <tr>
                            <td> {{ game.title }}</td>
                            <td> {{ game.players }}</td>
                            <td>
                                <a href="#"> Añadir jugadores </a>
                            </td>
                            <td>
                                <a href="#"> Ver </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                <hr class="intro-divider">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}