<!-- app/templates/home/players.html -->
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Partidas{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col intro-header">
            <div  style="text-align:center;padding:0%" class="center intro-message">
                <h1>Personajes</h1>
                <hr class="intro-divider">
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div style="text-align:center;">

            </div>
        </div>
    </div>
</div>
{% endblock %}