<ul class="navbar-nav nav justify-content-end">
    <li class="nav-item"><a class="nav-link" href="{{ url_for('home.homepage') }}">Home</a></li>
    {% if current_user.is_authenticated %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for('friends.index') }}">Amigos</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('groups.index') }}">Grupos</a></li>
    {% if current_user.is_admin %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Admin
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{{ url_for('admin.users') }}">Usuarios</a></li>
        </ul>
    </li>
    {% endif %}
    {% else %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
    {% endif %}
</ul>
{% if current_user.is_authenticated %}
{% include "user.html" %}
{% endif %}
