{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/google.html" as google %}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="card-header">
                <h1>Usuarios</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            {% if forms %}
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th>Admin</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user_form in forms %}
                <tr>
                    <td>{{ user_form.username.data }}</td>
                    <td>{{ user_form.email.data }}</td>
                    <td>{{ user_form.active.__html__() }}</td>
                    <td>{{ user_form.is_admin.__html__() }}</td>
                    <td>{{ wtf.form_field(user_form.submit) }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}