{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <h1 style="text-align:center;">Sistemas</h1>
        {% if sistemas %}
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th > Nombre </th>
                  <th > Codigo </th>
                  <th> Status </th>
                  <th> Partidas </th>
                  <th> Tablas </th>
                </tr>
              </thead>
              <tbody>
              {% for sistema in sistemas %}
                <tr>
                  <td> {{ sistema.nombre }} </td>
                  <td> {{ sistema.sKey }} </td>
                  <td> {{ sistema.status }} </td>
                  <td>
                    <a href="{{ url_for('admin.list_partidas', id=sistema.id) }}">Ver</a>
                  </td>
                  <td>
                    <a href="#">Ver</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
