{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1 style="text-align:center;">Partidas</h1>
                {% if games %}
                <div class="center">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th> Titulo</th>
                            <th> DM </th>
                            <th> Jugadores </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for game in games %}
                        <tr>
                            <td> {{ game.title }}</td>
                            <td> {{ game.masterName }}</td>
                            <td> {{ game.players }}/{{ game.max_players }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
