{% if current_user.is_authenticated %}
    {% if title != "Partida" %}
        <li><a href="{{ url_for('home.players') }}">Personajes</a></li>
        <li><a href="{{ url_for('home.games') }}">Partidas</a></li>
    {% endif %}
    {% if current_user.is_admin %}
        <li><a href="{{ url_for('home.admin_dashboard') }}">Admin</a></li>
    {% endif %}
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
{% else %}
    <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
{% endif %}

