<li><a href="{{ url_for('home.homepage') }}">Home</a></li>
{% if current_user.is_authenticated %}
    {% if title != "Partida" %}
    {% endif %}
    <li><a href="{{ url_for('home.players') }}">Personajes</a></li>
    <li><a href="{{ url_for('home.games') }}">Partidas</a></li>
    {% if current_user.is_admin %}
        <li><a href="{{ url_for('admin.users') }}">Usuarios</a></li>
        <li><a href="{{ url_for('admin.sistemas') }}">Sistemas</a></li>
        <li><a href="{{ url_for('admin.groups') }}">Grupos</a></li>
    {% endif %}
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
{% else %}

    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
{% endif %}

